# NestJS specific
/dist
/build
/tmp

# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Environment variable files
.env
.env.development
.env.test
.env.production

# Temp directory
.temp
.tmp

