# API Settings
SECRET_KEY=rmkrtrnrayxvrejpvrnxtcpzbfpvpamkvuahhprjxcajrsqytklusxileluabpcz

ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database Settings
MONGO_URL=mongodb://mongo:27017
MONGO_DB=clarity_quest
NEO4J_URL=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
REDIS_URL=redis://redis:6379/0

# AI Settings
GEMINI_API_KEY=AIzaSyBVq0eyPocQzs8c_zQKiJKtFPw8fD5eaPY

# Observability Settings
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com

# Voice Settings
WHISPER_MODEL=base
